  <div class="contents row">
    <div class="success text-align: center">
      <h3>
        投稿が完了しました。
      </h3>
      <a class="btn text-align: center" href="/articles">投稿一覧へ戻る</a>
    </div>
  </div>