
      <div class="row">
          <%= form_tag('/articles', method: :post, class: "col s6 offset-m3") do %>
            <div class="row">
              <div class="input-field col s6">
                <input id="input_text" type="text" data-length="10" name="title">
                <label for="input_text">タイトル</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" data-length="200" name="article"></textarea>
                <label for="textarea1">本文</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">送信
                <i class="material-icons right"></i>
              </button>
          <% end %>
        </div>

    <script type="text/javascript" src="./app.js"></script>